body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
  display: flex;
  height: 100vh;
}

.post-container {
  background-color: white;
  border: 1px solid #ddd;
  padding: 16px;
  border-radius: 8px;
  width: 500px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.post-header {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #878a8c;
}

.community {
  color: black;
  font-weight: 700;
  font-size: 12px;
}

.dot {
  margin: 0 5px;
  font-size: 12px;
}

.time {
  color: #878a8c;
  font-size: 12px;
}

.post-author {
  margin-top: 5px;
  font-size: 12px;
  font-weight: 400;
  color: rgb(59, 52, 46);
}

.post-title {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  color: black;
}
